/*
 * Стили для списка, добавляемого расширением
 */
.mw-scripts-list-block {
    font-size: 18px;
    margin: 0;
    padding: 10px;
    cursor: default;
    position: relative;
    display: flex;
    align-items: center;
}

.mw-scripts-list-block:hover {
    background-color: #52709c;
}

.mw-scripts-list-block:hover .mw-scripts-list {
    display: flex;
}

.mw-scripts-list {
    list-style: none;
    display: none;
    flex-direction: column;
    margin: 0;
    position: absolute;
    top: 100%;
    right: 0;
}

.mw-script-li {
    padding: 10px;
    background: #233056;
    color: #fff;
    border: none;
    white-space: nowrap;
    cursor: pointer;
}

.mw-script-li:hover {
    background-color: #748caf;
}
/*
 * Конец стилей для списка, добавляемого расширением
 */

/*
 * Стили для информации по галке
 */
.mw-controversial-info {
    padding: 0 10px 2px;
    background-color: #233056;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
 * Стили для плеера клипов, чтобы легче было перематывать
 */
gg-player-panel.ng-isolate-scope .player-control-bottom:hover .progress-bar {
    height: 24px;
    border: none;
}

gg-player-panel.ng-isolate-scope .player-control-bottom:hover .progress-bar::after {
    display: block;
}

gg-player-panel.ng-isolate-scope .progress-bar {
    background-color: initial;
}

gg-player-panel.ng-isolate-scope .progress-bar::after {
    content: "";
    width: calc( 100% - 1px );
    position: absolute;
    left: 0;
    top: 8px;
    border: 1px solid #fff;
    height: calc( 100% - 17px );
    display: none;
}

gg-player-panel.ng-isolate-scope .player-control-bottom:hover .progress-loaded {
    top: 8px;
    bottom: 8px;
    right: 0;
    left: 0;
}

gg-player-panel.ng-isolate-scope .player-control-bottom:hover .progress-hover,
gg-player-panel.ng-isolate-scope .player-control-bottom:hover .progress-played {
    height: calc( 100% - 16px );
    margin: auto 0;
}
/*
 * Конец стилей для плеера клипов
 */

/* Скрывает чёрный список к чертям */
.blacklist-block {
	display: none;
}

/* Стили свёрнутого сообщения */
.mw-message-minimized {
    overflow: hidden;
}

.mw-message-minimized .message {
    cursor: pointer;
    color: #73adff;
}

.mw-message-minimized .message:hover {
    color: #91aae4;
}

/* Кнопка минимизации сообщения */
.user .icon.mw-minimize-maximize-btn {
    cursor: pointer;
    color: #b83939;
    font-weight: 900;
    font-size: 24px;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.format .mw-minimize-maximize-btn {
    position: absolute;
    top: 24px;
}

.mw-hidden {
    display: none !important;
}